<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Listado</title>
    </head>
    <body class="hold-transition sidebar-mini">
        <form th:action="@{/app/usuarios/create}" th:object="${usuarioDTO}" method="post">
            <h4>Formulario de Usuarios</h4>
            <label for="username">Nombre Usuario</label>
            <input name="username" th:field="*{username}" type="text" class="" required minlength="2" maxlength="255">
            <label for="password">Password</label>
            <input name="password" th:field="*{password}" type="text" class="" required>
            <label for="email">Email</label>
            <input name="email" th:field="*{email}" type="text" class="" required>
            <button type="submit" class="">
                Guardar
            </button>
        </form>
    </body>
</html>
